[submodule "atalla-sim"]
	path = atalla-sim
	url = org-726@github.itap.purdue.edu:SoCETOrganization/atalla-sim.git
	branch = master
[submodule "UVM_1.2"]
	path = UVM_1.2
	url = org-726@github.itap.purdue.edu:SoCETOrganization/UVM_1.2.git
	branch = main
[submodule "aihw-ppci-compiler"]
	path = aihw-ppci-compiler
	url = org-726@github.itap.purdue.edu:SoCETOrganization/aihw-ppci-compiler.git
	branch = master
[submodule "atalla-flowkit"]
	path = atalla-flowkit
	url = org-726@github.itap.purdue.edu:SoCETOrganization/atalla-flowkit.git
	branch = atallax01